* {
	margin: 0px;
	padding: 0px;
	background: black;
}

.container {
	width: 1150px;
	display: table;
}
.score-div {
	width: 150px;
	display: table-cell;
	text-align: right;
}
#score {
	color: white;
	font-size: 30px;
	display: inline;
}
#score-text {
	color: white;
	font-size: 30px;
	display: inline;
}
.pacman-div {
	display: table-cell;
	text-align: left;: 
}

.world {
	display: table;
	width: 100%;
}

.row {
	display: table-row;
}

.brick {
	display: table-cell;
}

.coin {
	display: table-cell;
}

.pacman {
	display: table-cell;
}

.row div{
	height: 100px;
	width: 100px;
}
.brick{
	background-color: blue;
}
.coin{
	background: url(images/coin2.png);
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: center;

}

.pacman{
	background: url(images/pacman-animated.gif);
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	height: 100px;
	width: 100px;
	top: 100px;
	left: 100px;

}
.empty{
	display: table-cell;
}
.score{
	margin-top: 50px;
	color: white;
	display: inline-block;
	outline: thin red solid;
}
