* {
	margin: 0px;
	padding: 0px;
	background: black;
}

.container {
	width: 1000px;
	margin: auto auto;
}

.world {
	display: table;
	width: 100%;
}

.row {
	display: table-row;
}

.brick {
	display: table-cell;
}

.coin {
	display: table-cell;
}

.pacman {
	display: table-cell;
}

.row div{
	height: 100px;
	width: 100px;
}
.brick{
	background-color: blue;
}
.coin{
	background: url(images/coin2.png);
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: center;

}

#pacman{
	background: url(images/pacman-animated.gif);
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}
.empty{

}
