/** {
	margin: 0px;
	padding: 0px;
	background: black;
}

.container {
	width: 1800px;
	margin: auto;
}*/

.world{
	/*outline:thin red solid;*/
	/*height:900px;*/
}

.row {

}

.row div{
	/*outline: thin solid black;*/
	height: 100px;
	width: 100px;
	display: inline-block;
}
.brick{
	background-color: blue;
}
.coin{
	background: url(images/coin2.png);
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: center;

}

#pacman{
	background: url(images/pacman-animated.gif);
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}
.empty{

}
